.btn-profile-edit{
    width: 100%;
    margin-top: 60px;
    margin-bottom: 15px;
}

.btn-profile-edit button{
    width: 100%;
}

.card-edit-close-btn .btn-close{
    background: transparent url(../../assets/icons/closeModal.png) no-repeat !important;
    
}