@use '../../Variables' as vars;

.container-eventos {
  padding-top: 8rem;
}

.card-event-eventos {
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 3px 3.2px;
}

@media (min-width: 440px) {
 

  .card-event {
    height: 250px !important;
  }

  .card-event-img {
    height: 250px !important;
  }

  .card-icon-a,
  .card-icon-b {
    font-size: 18px;
  }

  .info-card-evento {
    font-size: 14px;
  }
}

@media (min-width: 768px) {

  .card-icon-a,
  .card-icon-b {
    font-size: 20px;
  }

  .card-event {
    height: 320px !important;
  }

  .card-event-title {
    font-size: 20px;
  }

  .info-card-evento {
    font-size: 18px;
    padding: 10px;
  }

  .card-event-img {
    height: 320px !important;
  }
}

@media (min-width: 991px) {

  .card-icon-a,
  .card-icon-b {
    font-size: 23px;
  }

  .cards-event-eventos {
    width: 70% !important;
  }

  .card-event {
    height: 350px !important;
    margin-bottom: 30px !important;
  }

  .card-event-title {
    font-size: 20px;
  }

  .info-card-evento {
    font-size: 18px;
    padding: 10px;
  }

  .card-event-img {
    height: 350px !important;
  }
}

@media (min-width: 1200px) {
  .cards-event-eventos {
    width: 50% !important;
  }

  .card-event-title {
    font-size: 20px;
    font-weight: 400;
  }

  .info-card-evento {
    font-size: 18px;
    padding: 10px;
  }

  .container-eventos{
    max-width: 720px !important;
  }
}

.react-datepicker {
  background-color: #fff !important;
  border: 1px solid vars.$primary;
  font-size: 18px;
}

.react-datepicker__day--selected {
  background-color: #fff !important;
  border: solid 1px #ccc;
  color: vars.$primary;
}

.react-datepicker__header {
  text-transform: uppercase;
  font-size: 12px ;
  background-color: vars.$success;
}

.react-datepicker__close-icon::after {
  background-color: vars.$success;
}
