

.listarAdmins {
  padding:  0px !important;
  max-width: 650px !important;
}

.listarAdmins-maior {
  height: 100vh;
}

.table-listarAdmins {
  border: darkgray !important;
}

.btn-modal-deletar-sim {
  background-color: #ff6961 !important;
  border-color: #ff6961 !important;
}

