.listarTalk-container {
    height: 100vh;
}

.listarTalk {
    padding: 0px !important;
    max-width: 650px !important;
}

.table-listarTalk {
    border: darkgray !important;
}

.icon-listarTalk {
    font-size: 23px;
}