

.listarEventos {
  padding: 0px !important;
  max-width: 650px !important;
}

.listarEventos-maior {
  height: 100vh;
}

.table-listarEventos {
  border: darkgray !important;
}

.icon-listarEventos {
  font-size: 23px;
}

.modalEditEvent-header {
  width: 100%;
}